@import url(fonts.css);
@import url(variables.css);
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 6.4em; */
  font-size: 13px;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-inline: auto;
  max-width: 1100px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title h2 {
  text-transform: uppercase;
  margin-block-end: 50px;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
}
.title h2::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--title-color);
}
.title h2::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid;
  border-radius: 50%;
  background-color: white;
}

.title p {
  opacity: 0.5;
  line-height: 2;
  max-width: 65ch;
}

section {
  min-height: 100vh;
  /* margin-block-end: 5px; */
  padding-block: 100px;
}

button,
a {
  text-transform: uppercase;
}
/* End Global Rules */

/* Start Header */
header * {
  color: hsl(0, 0%, 100%);
}

header.sec-overlay * {
  color: hsl(0, 0%, 0%);
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 3;
  transition: background-color 1s;
}
/* Section-based styles */
.header--home *,
.header--diff * {
  color: white;
}
.header--diff,
.header--diff nav ul.show {
  background-color: #0c0d19a1;
}
.header--services *,
.header--portfolio *,
.header--about *,
.header--pricing *,
.header--contact * {
  color: rgb(0, 0, 0);
}

header img {
  width: 15em;
}

header .toggle {
  display: none;
  cursor: pointer;
}

nav ul.show {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  row-gap: 15px;
  padding-block: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-block-end: 1px solid #ddd;
  padding-inline-end: 11px;
}

.nav-links {
  display: flex;
  column-gap: 150px;
}

header ul {
  display: flex;
  column-gap: 30px;
  transition: background-color 1s;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s;
}
.nav-links a i {
  transition: color 0.5s;
}
.nav-links > a {
  border-inline-start: 2px solid #ddd;
  padding-inline-start: 10px;
}
nav a.active,
nav a:hover,
.nav-links a:hover i {
  color: var(--primary-color);
  position: relative;
}

.nav-links a.active::before,
.nav-links a:hover::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
  bottom: -2.6em;
  z-index: 2;
}

/* Extra Small Devices (Phones, portrait) */
@media screen and (max-width: 480px) {
  html {
    font-size: 9px;
  }

  .container {
    max-width: 250px;
  }

  header ul {
    display: none;
  }

  .nav-links {
    column-gap: 10px;
  }

  header .toggle {
    display: block;
  }

  .nav-links a.active::before,
  .nav-links a:hover::before {
    height: 0;
  }
}

/* Small Devices (Phones, landscape & small tablets) */
@media screen and (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 10px;
  }

  .container {
    max-width: 350px;
  }

  header ul {
    display: none;
  }

  .nav-links {
    column-gap: 20px;
  }

  header .toggle {
    display: block;
  }

  .nav-links a.active::before,
  .nav-links a:hover::before {
    height: 0;
  }
}

/* Medium Devices */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 11px;
  }

  .container {
    max-width: 700px;
  }

  .nav-links {
    column-gap: 30px;
  }

  header ul {
    column-gap: 10px;
  }

  header .toggle {
    display: none;
  }
}

/* End Header */

/* Start home Section */
#home {
  background: url(../assets/images/bg_img_header.jpg) no-repeat center center/
    cover;
  color: hsl(0, 0%, 100%);
  position: relative;
}
#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  column-gap: 15px;
  z-index: 2;
}
.bullets span {
  width: 1em;
  height: 1em;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.bullets span.active,
.bullets span:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  cursor: pointer;
}

.arrows i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3em;
  color: hsla(0, 0%, 100%, 0.5);
  cursor: pointer;
  z-index: 2;
}
.arrows i:nth-child(1) {
  left: 10px;
}
.arrows i:nth-child(2) {
  right: 10px;
}
#home .text {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(2, 181, 228, 0.5);
  padding-inline: 15% 5%;
  padding-block: 30px;
}
#home .text h1 {
  margin-block-end: 20px;
  line-height: 1.5;
  text-transform: uppercase;
}
#home .text p {
  line-height: 2;
}

/* Extra Small Devices (Phones, portrait) */
/* @media screen and (max-width: 480px) {
  #home .text {
    width: 100%;
  }
} */

/* Small Devices (Phones, landscape & small tablets) */
@media screen and (max-width: 767px) {
  #home .text {
    width: 100%;
  }
}

/* Medium Devices */
@media screen and (min-width: 768px) and (max-width: 1199px) {
}
/* End home Section */

/* Start services Section */
#services {
  position: relative;
}

#services .srv-items {
  margin-block: 100px;
  display: flex;
  gap: 100px 70px;
  flex-wrap: wrap;
}

#services .srv-item {
  display: flex;
  flex: 1 1 400px;
  column-gap: 100px;
}

#services .srv-item i {
  font-size: 4em;
  color: rgba(0, 0, 0, 0.5);
}

#services .srv-item h3 {
  color: var(--primary-color);
  font-size: 1.5em;
  margin-block-end: 15px;
}

#services .srv-item p {
  opacity: 0.5;
  line-height: 1.5;
}

/* Extra Small Devices (Phones, portrait) */
@media screen and (max-width: 480px) {
  #services .srv-items {
    gap: 30px 0;
  }

  #services .srv-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 10px;
  }
}

/* Small Devices (Phones, landscape & small tablets) */
@media screen and (min-width: 481px) and (max-width: 767px) {
  #services .srv-items {
    gap: 30px 0;
  }
  #services .srv-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 10px;
  }
}

/* Medium Devices */
@media screen and (min-width: 768px) and (max-width: 1199px) {
}

#services .overlay {
  display: flex;
  justify-content: flex-end;
  padding-block: 55px;
  background: url(../assets/images/bg_img_services.jpg) no-repeat center center/
    cover;
  filter: brightness(0.8);
  background-color: rgba(0, 0, 0, 0.5);
}
#services .text {
  width: 50%;
  background-color: rgba(2, 181, 228, 0.5);
  padding-inline-start: 5%;
  padding-block: 5%;
  color: hsl(0, 0%, 100%);
}
#services .text h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-block-end: 40px;
}

#services .benefits {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#services figure {
  display: flex;
  column-gap: 15px;
}
#services figure i {
  font-size: 1.6em;
  padding-block-start: 0.2em;
}

/* Small Devices (Phones, landscape & small tablets) */
@media screen and (max-width: 767px) {
  #services .text {
    width: 80%;
  }
}

/* End services Section */

/* Start portfolio Section */

/* #portfolio {
} */

#portfolio .filter {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-block: 50px 30px;
}
#portfolio .filter button {
  padding: 1em 2em;
  background: transparent;
  border: none;
  font-size: 1em;
  transition: color 0.3s, background-color 0.3s;
}

#portfolio .filter button.active,
#portfolio .filter button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #ffffff;
}
#portfolio .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

#portfolio .item {
  position: relative;
  margin-block-start: -5px;
  font-size: 1.3rem;
}

#portfolio .item img {
  width: 100%;
  height: 400px;
  transition: filter 1s;
}

#portfolio .item:hover img {
  cursor: pointer;
  filter: brightness(0.7);
}
#portfolio .item:hover::before {
  opacity: 1;
}
#portfolio .item::before {
  cursor: pointer;
  content: "+";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: white;
  font-weight: 100;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  background-color: #02b5e48c;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}
#portfolio .item:hover .overlay {
  opacity: 1;
}

#portfolio .item p {
  color: var(--primary-color);
}

#portfolio .item h3 {
  font-weight: 400;
}

#portfolio .item .overlay {
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 1s ease;
}

.gallery .more {
  text-align: center;
  margin-block: 50px;
}

.gallery .more button {
  padding: 0.5em 3em;
  background: var(--primary-color);
  color: #ffffff;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
  transition: transform 0.5s;
}
.gallery .more button:hover {
  transform: scale(1.1);
}

#portfolio > .overlay {
  padding-block: 150px;
  background: url(../assets/images/bg_img_portfolio.jpg) no-repeat center center /
    cover;
  filter: brightness(0.9);
  background-color: rgba(0, 0, 0, 0.5);
}
#portfolio > .overlay .text {
  background-color: rgba(2, 181, 228, 0.5);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  padding-block: 35px;
}
#portfolio > .overlay .text h3 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
}
#portfolio > .overlay .text button {
  padding: 0.5em 2em;
  background: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}

#portfolio > .overlay .text button:hover {
  transform: scale(1.1);
}
/* Extra Small Devices*/
@media screen and (max-width: 480px) {
  #portfolio .filter {
    column-gap: 0;
  }
  #portfolio .filter button {
    padding: 0.5em 0.5em;
  }
  #portfolio .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 20px;
    padding-inline: 20px;
  }
}

/* Small Devices (Phones, landscape & small tablets) */
@media screen and (min-width: 481px) and (max-width: 767px) {
  #portfolio .filter {
    column-gap: 5px;
  }
  #portfolio .filter button {
    padding: 0.5em 1em;
  }
  #portfolio .grid {
    row-gap: 20px;
    padding-inline: 20px;
  }
}
/* End portfolio Section */
